/*
Display as an equal height inline item, suitable for list items, etc
see: http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
see: http://www.boogdesign.com/examples/floats.html

Compatibility untested.
*/
@mixin inline-stack {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
