/*
An arrow used for navigation in topic popups.

No Styleguide reference.
*/
.arrow {
  background: image-url('sprites/arrows.png') no-repeat 0px 0px;
  background: rgba(0,0,0,0) image-url('sprites/arrows.svg') no-repeat 0px 0px;
  width: 51px;
  height: 51px;
}

.arrow-left {
  background-position: 0 0;
}

.arrow-right {
  background-position: 0 -51px;
}
