@import 'globals/mixins';
@import 'compass/css3/background-size';

/*
The illustrated banner beneath a topic popup title.

No Styleguide reference.
*/
.banner {
  margin-bottom: 15px;
  background-color: #fff;
  line-height: 1;
}
