@import 'globals/mixins';
@import 'shared/utility';
@import 'compass/utilities/sprites/base';

/*
A popup window with extra information about a topic.

No Styleguide reference.
*/
.popup {
  h2 {
    font-family: 'Trade-Gothic-Bold-Condensed-20';
    font-size: 31px;
    font-weight: normal;
    margin: 0;
    text-align: center;
    display: block;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  h3 {
    font-family: 'Trade-Gothic-Bold-Condensed-20';
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 8px 0;
    color: #231f20;
  }

  p {
    font-family: 'Andes-Regular';
    font-size: 16px;
    line-height: 27px;
    margin-top: 0;
    color: #231f20;
  }

  header {
    background-color: #3c3f4c;
    line-height: 75px;
    color: #fff;
    text-transform: uppercase;

    h2 {
      margin-right: 45px;
    }
  }

  footer {
    background-color: #3c3f4c;
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 56px;
    color: #fff;

    h2 {
      @include font-smoothing;
      text-transform: uppercase;
    }
  }

  .content {
    padding-bottom: 75px;
    display: inline-block;
  }

  .left-column {
    float: left;
    width: 300px;
    padding: 0 50px 0 25px;
  }

  .right-column {
    float: right;
    width: 360px;

    p {
      padding-right: 35px;
    }
  }

  .full-column {
    padding: 0 50px;

    h3 {
      color: #386ec5;
      font-size: 30px;
    }

    p {
      font-size: 20px;
      line-height: 31px;
    }
  }

  &.last {
    h3 {
      margin-bottom: 2px;
    }

    header {
      h2 {
        margin: 0;
      }
    }

    .banner {
      margin: 0;
    }

    p {
      margin-bottom: 32px;
    }
  }
}

.popup-content {
  .popup {
    display: none;
  }
}
