/*
Folio Numbers
*/
// Non-retina
$numbers-layout: vertical;
$numbers-spacing: 2px;
$numbers: sprite-map('numbers/*.png');

// Retina
$numbers-retina-layout: vertical;
$numbers-retina-spacing: 2px;
$numbers-retina: sprite-map('numbers-retina/*.png');

/*
Arrows
*/
// Non-retina
$arrows-layout: vertical;
$arrows-spacing: 2px;
$arrows: sprite-map('arrows/*.png');

// Retina
$arrows-retina-layout: vertical;
$arrows-retina-spacing: 2px;
$arrows-retina: sprite-map('arrows-retina/*.png');

/*
Buttons
*/
// Non-retina
$buttons-layout: vertical;
$buttons-spacing: 2px;
$buttons: sprite-map('buttons/*.png');

// Retina
$buttons-retina-layout: vertical;
$buttons-retina-spacing: 2px;
$buttons-retina: sprite-map('buttons-retina/*.png');

