@import 'globals/mixins';
@import 'shared/sprites';
@import 'compass/typography/text/replacement';

/*
A grouping of inline tabs.

No Styleguide reference.
*/
.tabs {
  .tab {
    float: left;

    a {
      @include hide-text;
      display: inline-block;
      margin-right: 24px;
      margin-bottom: -5px;
    }

    &.tab-one {
      a {
        @include retina-sprite($buttons, $buttons-retina, tab-one);

        &:hover,
        &.active {
          @include retina-sprite($buttons, $buttons-retina, tab-one-active);
        }
      }
    }

    &.tab-two {
      a {
        @include retina-sprite($buttons, $buttons-retina, tab-two);

        &:hover,
        &.active {
          @include retina-sprite($buttons, $buttons-retina, tab-two-active);
        }
      }
    }

    &.tab-three {
      a {
        @include retina-sprite($buttons, $buttons-retina, tab-three);

        &:hover,
        &.active {
          @include retina-sprite($buttons, $buttons-retina, tab-three-active);
        }
      }
    }
  }

  .tab-content {
    display: block;
    clear: both;
    background-color: #3fa6df;
    padding: 15px 18px;

    p {
      color: #fff;
    }

    &:not(.active) {
      display: none;
    }
  }
}
