@import 'globals/mixins';
@import 'compass/typography/text/replacement';
@import 'compass/css3/opacity';

.panels {
  background-image: image_url('bg/drop-shadow.png');
  background-position: top;
  background-repeat: repeat-x;
  background-color: #f4f4f4;
  display: inline-block;
  margin: 0 auto;
  padding: 15px 0 0 0;
  text-align: left;
  // max-width: 1000px;
  width: 100%;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;
    display: inline; // ie double margin fix
    float: left;
    padding: 0 15px 0 15px;
    position: relative;
    // max-width: 970px;
    // max-width: 100%;
  }
}

.panel {
  // background: image_url('panels/panels.png') no-repeat 0px 0px;
  // background: rgba(0,0,0,0) image_url('panels/panels.svg') no-repeat 0px 0px;
  // background-repeat: no-repeat;
  // width: 232px;
  // height: 232px;
  // display: inline-block;
  // width: 25%;
  // float: left;
  // padding: 8px;
  clear: none;
  display: inline;
  float: left;
  margin-bottom: 10px;
  margin-right: 1.4433%;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 23.91752%;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:hover {
    background-repeat: no-repeat;
  }

  img {
    display:block;
    width:100%;
    max-width:100%;
    height:auto;
  }

  // a {
  //   @include hide-text;
  //   display: inline-block;
  //   width: 232px;
  //   height: 232px;
  // }
}

// .panel-antibiotics {
//   background-position: 0 0;
// }

// .panel-epa {
//   background-position: 0 -232px;
// }

// .panel-hiv-aids {
//   background-position: 0 -464px;
// }

// .panel-malaria {
//   background-position: 0 -696px;
// }

// .panel-pasteurization {
//   background-position: 0 -928px;
// }

// .panel-public-healthcare {
//   background-position: 0 -1160px;
// }


// .panel-quarantines {
//   background-position: 0 -1392px;
// }

// .panel-reproductive-health {
//   background-position: 0 -1624px;
// }

// .panel-stem-cell-research {
//   background-position: 0 -1856px;
// }

// .panel-toilets {
//   background-position: 0 -2088px;
// }

// .panel-vaccinations {
//   background-position: 0 -2320px;
// }

// .panel-where-do-you-stand {
//   background-position: 0 -2552px;
// }

