header role="banner"
  .logo
    a href="http://www.good.is/" target="_blank"
  h1.title
    | 11 Controversial Health Innovations
    em that people are still talking about today

.main role="main"
  section.panels
    ul
      li.panel.panel-pasteurization
        a href="#pasteurization"
          /! Pasteurization
          = image_tag "panels-source/pasteurization.svg"
      li.panel.panel-reproductive-health
        a href="#reproductive-health"
          /! Reproductive Health
          = image_tag "panels-source/reproductive-health.svg"
      li.panel.panel-vaccinations
        a href="#vaccinations"
          /! Vaccinations
          = image_tag "panels-source/vaccinations.svg"
      li.panel.panel-stem-cell-research
        a href="#stem-cell-research"
          /! Stem Cell Research
          = image_tag "panels-source/stem-cell-research.svg"
      li.panel.panel-toilets
        a href="#toilets"
          /! Toilets
          = image_tag "panels-source/toilets.svg"
      li.panel.panel-hiv-aids
        a href="#hiv-aids"
          /! HIV/AIDS
          = image_tag "panels-source/hiv-aids.svg"
      li.panel.panel-public-healthcare
        a href="#public-healthcare"
          /! Public Healthcare
          = image_tag "panels-source/public-healthcare.svg"
      li.panel.panel-antibiotics
        a href="#antibiotics"
          /! Antibiotics
          = image_tag "panels-source/antibiotics.svg"
      li.panel.panel-quarantines
        a href="#quarantines"
          /! Quarantine + International Travel
          = image_tag "panels-source/quarantines.svg"
      li.panel.panel-epa
        a href="#epa"
          /! EPA
          = image_tag "panels-source/epa.svg"
      li.panel.panel-malaria
        a href="#malaria"
          /! Malaria
          = image_tag "panels-source/malaria.svg"
      li.panel.panel-where-do-you-stand
        a href="#where-do-you-stand"
          /! Closing
          = image_tag "panels-source/where-do-you-stand.svg"

= partial 'popup-content/pasteurization'
= partial 'popup-content/reproductive-health'
= partial 'popup-content/vaccinations'
= partial 'popup-content/stem-cell-research'
= partial 'popup-content/toilets'
= partial 'popup-content/hiv-aids'
= partial 'popup-content/public-healthcare'
= partial 'popup-content/antibiotics'
= partial 'popup-content/quarantines'
= partial 'popup-content/epa'
= partial 'popup-content/malaria'
= partial 'popup-content/where-do-you-stand'


